/* Start layout.less */
/* -------------------------------------------------------------------- */

.mainWrapper {
	.borderRadius;
	.wrap;
	
	background-color: #fff;
	margin-top: @gap;
	padding: @gap;
	
}

.fontBox {
	.fontSize(20);
	.borderRadius(5px);
	
	width: 200px;
	float: right;
	background: @black40;
	padding: @gap/2;
	color: #fff;
}