/* Start layout.less */
/* -------------------------------------------------------------------- */

.mainWrapper {
	width: @siteWidth;
	background-color: #fff;
	.center;
	margin-top: @gap;
	padding: @gap;
	.borderRadius;
}

.fontBox {
	width: 200px;
	float: right;
	background: @black40;
	padding: @gap/2;
	.borderRadius(5px);
	color: #fff;
	.fontSize(20);
}