/* Start typography.less */
/* -------------------------------------------------------------------- */


//
// Headlines
// ----------------------------------------------------------------------------------------

.h1() {
	.fontSize(24);
	font-weight: bold;
	color: @primeColor;
	line-height: @baseLineHeight;
}

.h2() {
	.fontSize(22);
	line-height: @baseLineHeight;
}

.h3() {
	.fontSize(20);
	line-height: @baseLineHeight;
}

.h4() {
	.fontSize(18);
	line-height: @baseLineHeight;
}

.h5() {
	.fontSize(17);
	line-height: @baseLineHeight;
}

.h6() {
	.fontSize(16);
	line-height: @baseLineHeight;
}

h1 { .h1; }
h2 { .h2; }
h3 { .h3; }
h4 { .h4; }
h5 { .h5; }
h6 { .h6; }



//
// Anchors
// ----------------------------------------------------------------------------------------

a {
	text-decoration: none;
	color: @linkColor;
}