/* Start variables.less */
/* -------------------------------------------------------------------- */

// Light Grey  
@light: 			#ededed;

// Standard Text Color
@dark:				#3e3e3e;

// Link Color, Highlightning
@red:				#d63035;

// Normales Grau
@grey:				#d1d1d1;

// Dunkles Grau
@darkGrey:			#7a7a7a;

// Background Color
@bgColor:			#f7f8f8;


// ----------------------------------------------------------------------------------------


@basePadding:		1.5em;


// ----------------------------------------------------------------------------------------


// Schrifthöhe
@basicLineHeight:	1.5em;

// Schriftgröße
@basicFontSize:		15; // Pixel

// Standardschriftart
@fontNormal:		'Helvetica Neue', Helvetica, Arial, sans serif;

// Headlines, Big Sized Font
@fontCond:			'OpenSansCondensedLight', 'Helvetica Neue', Helvetica, Arial, sans serif;

// Headlines, Bold
@fontCondBold:		'OpenSansCondensedBold', 'Helvetica Neue', Helvetica, Arial, sans serif;

