/* Start layout.less */
/* -------------------------------------------------------------------- */

.mainWrapper {
	.wrap;
	.boxSizing;
	
	background-color: #fff;
	margin-top: @gap;
	padding: @gap;	
}